
  body{
    background-color:#ffd5be;


  }
  hr{
    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
  h1{
    color: #ff9776;
  }
  h3{
    color: #ff9776;
  }
